name: Build APK from ZIP

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Unzip project
        run: |
          unzip -q "*.zip" -d src
          echo "Gradlew search:"
          find src -name gradlew

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install SDK packages
        run: |
          sdkmanager "platform-tools" "platforms;android-36" "build-tools;36.0.0"
          yes | sdkmanager --licenses

      - name: Build Debug APK
        run: |
          DIR=$(dirname "$(find src -name gradlew | head -n 1)")
          echo "Using $DIR"
          chmod +x "$DIR/gradlew"
          cd "$DIR"
          ./gradlew :app:assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: src/**/app/build/outputs/apk/debug/app-debug.apk
